<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hdc.yxt.mapping.BuissnessMapper">
  <resultMap id="BaseResultMap" type="com.hdc.yxt.entity.Buissness">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="classId" jdbcType="INTEGER" property="classid" />
    <result column="sortId" jdbcType="INTEGER" property="sortid" />
    <result column="directionId" jdbcType="INTEGER" property="directionid" />
    <result column="buissnessImpl" jdbcType="VARCHAR" property="buissnessimpl" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, classId, sortId, directionId, buissnessImpl
  </sql>
  <select id="selectByExample" parameterType="com.hdc.yxt.entity.BuissnessExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from buissness
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from buissness
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from buissness
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.hdc.yxt.entity.BuissnessExample">
    delete from buissness
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.hdc.yxt.entity.Buissness">
    insert into buissness (id, classId, sortId, 
      directionId, buissnessImpl)
    values (#{id,jdbcType=INTEGER}, #{classid,jdbcType=INTEGER}, #{sortid,jdbcType=INTEGER}, 
      #{directionid,jdbcType=INTEGER}, #{buissnessimpl,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.hdc.yxt.entity.Buissness">
    insert into buissness
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="classid != null">
        classId,
      </if>
      <if test="sortid != null">
        sortId,
      </if>
      <if test="directionid != null">
        directionId,
      </if>
      <if test="buissnessimpl != null">
        buissnessImpl,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="classid != null">
        #{classid,jdbcType=INTEGER},
      </if>
      <if test="sortid != null">
        #{sortid,jdbcType=INTEGER},
      </if>
      <if test="directionid != null">
        #{directionid,jdbcType=INTEGER},
      </if>
      <if test="buissnessimpl != null">
        #{buissnessimpl,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.hdc.yxt.entity.BuissnessExample" resultType="java.lang.Long">
    select count(*) from buissness
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update buissness
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.classid != null">
        classId = #{record.classid,jdbcType=INTEGER},
      </if>
      <if test="record.sortid != null">
        sortId = #{record.sortid,jdbcType=INTEGER},
      </if>
      <if test="record.directionid != null">
        directionId = #{record.directionid,jdbcType=INTEGER},
      </if>
      <if test="record.buissnessimpl != null">
        buissnessImpl = #{record.buissnessimpl,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update buissness
    set id = #{record.id,jdbcType=INTEGER},
      classId = #{record.classid,jdbcType=INTEGER},
      sortId = #{record.sortid,jdbcType=INTEGER},
      directionId = #{record.directionid,jdbcType=INTEGER},
      buissnessImpl = #{record.buissnessimpl,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.hdc.yxt.entity.Buissness">
    update buissness
    <set>
      <if test="classid != null">
        classId = #{classid,jdbcType=INTEGER},
      </if>
      <if test="sortid != null">
        sortId = #{sortid,jdbcType=INTEGER},
      </if>
      <if test="directionid != null">
        directionId = #{directionid,jdbcType=INTEGER},
      </if>
      <if test="buissnessimpl != null">
        buissnessImpl = #{buissnessimpl,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hdc.yxt.entity.Buissness">
    update buissness
    set classId = #{classid,jdbcType=INTEGER},
      sortId = #{sortid,jdbcType=INTEGER},
      directionId = #{directionid,jdbcType=INTEGER},
      buissnessImpl = #{buissnessimpl,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>